<!-- File purpose: This file holds the navigation bar which displays at the top of every page -->

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Library{% endblock %}</title> 
    <link rel="stylesheet" href="{{ url_for('frontend.static', filename='design.css') }}">

</head>
<body>

    {% if not hide_nav %}
    <!-- Navigation bar -->
    <div class="navbar">
        <a href="{{ url_for('frontend.home') }}" class="nav-button {% if request.endpoint == 'frontend.home' %}active{% else %}nav-link{% endif %}">Home</a>
        <a href="{{ url_for('frontend.about_us') }}">About Us</a>

        {% if session.get('user_type') == 'member' %}
            <a href="{{ url_for('frontend.member_profile') }}" class="nav-button">Profile</a>
            <a href="{{ url_for('frontend.search') }}">Browse</a>
            <a href="{{ url_for('frontend.favorites') }}">My Favorites</a>
            <a href="{{ url_for('frontend.logout') }}" class="nav-button">Logout</a>

        {% elif session.get('user_type') == 'staff' %}
            <a href="{{ url_for('frontend.staff_profile') }}" class="nav-button">Profile</a>
            <a href="{{ url_for('frontend.search') }}">Browse</a>
            <a href="{{ url_for('frontend.favorites') }}">My Favorites</a>
            <a href="{{ url_for('frontend.logout') }}" class="nav-button">Logout</a>

        {% else %}
            <a href="{{ url_for('frontend.apply') }}" class="nav-button">Member Application</a>
            <a href="{{ url_for('frontend.login') }}" class="nav-button">Log In</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>