<!-- File purpose: This file holds the navigation bar which displays at the top of every page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Library{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('frontend.static', filename='design.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
       <div class="flash-container">
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">{{ message }}</div>
            <button class="close-btn" aria-label="Close">&times;</button>
        {% endfor %}
       </div>
     {% endif %}
    {% endwith %}
    <div class="page-wrapper">
        {% if not hide_nav %}
        <!-- Navigation bar -->
        <div class="navbar">
            <a href="{%
                if session.get('user_type') == 'member' %}{{ url_for('frontend.home_members') }}{%
                elif session.get('user_type') == 'staff' %}{{url_for('frontend.home_staff') }}{%
                else %}{{ url_for('frontend.home') }}{%
                endif %}" class="{% if request.endpoint == 'frontend.home' %}active{% else %}nav-button{% endif %}">
                Home
            </a>
            <a href="{{ url_for('frontend.about_us') }}"
                class="{% if request.endpoint == 'frontend.about_us' %}active{% else %}nav-button{% endif %}">AboutUs</a>

            {% if session.get('user_type') == 'member' %}
            <a href="{{ url_for('frontend.member_profile') }}"
                class="{% if request.endpoint == 'frontend.member_profile' %}active{% else %}nav-button{% endif %}">Profile</a>
            <a href="{{ url_for('frontend.search') }}"
                class="{% if request.endpoint == 'frontend.search' %}active{% else %}nav-button{% endif %}">Browse</a>
            <a href="{{ url_for('frontend.favorites') }}"
                class="{% if request.endpoint == 'frontend.favorites' %}active{% else %}nav-button{% endif %}">My
                Favorites</a>
            <a href="{{ url_for('frontend.logout') }}" class="nav-button">Logout</a>

            {% elif session.get('user_type') == 'staff' %}
            <a href="{{ url_for('frontend.staff_profile') }}"
                class="{% if request.endpoint == 'frontend.staff_profile' %}active{% else %}nav-button{% endif %}">Profile</a>
            <a href="{{ url_for('frontend.search') }}"
                class="{% if request.endpoint == 'frontend.search' %}active{% else %}nav-button{% endif %}">Browse</a>
            <a href="{{ url_for('frontend.logout') }}" class="nav-button">Logout</a>

            {% else %}
            <a href="{{ url_for('frontend.apply') }}"
                class="{% if request.endpoint == 'frontend.apply' %}active{% else %}nav-button{% endif %}">Member
                Application</a>
            <a href="{{ url_for('frontend.login') }}"
                class="{% if request.endpoint == 'frontend.login' %}active{% else %}nav-button{% endif %}">Log In</a>
            {% endif %}
        </div>
        {% endif %}

        <div class="content">
                {% block content %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                     {% if messages %}
                        <div id="flash-message">
                            {% for category, message in messages %}
                                <div class="flash-message {{ category }}">{{ message }}
                                    <span class="flash-close" aria-label="Close">&times;</span>
                                </div>
                            {% endfor %}
                        </div>
                     {% endif %}
                    {% endwith %}
                {% endblock %}
        </div>

        <footer class="footer">
            &copy; 2025 CaZa’s Library. All rights reserved.
        </footer>
    </div>
<script src="{{ url_for('frontend.static', filename='index.js') }}"></script>
</body>
</html>