<!--Home for Members Page-->
<!-- Requires: navigation bar w/ link to home, search, member profile, books listings pages -->
<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block title %}Member Home{% endblock %}

{% block content %}
    <!-- Welcome Message -->
    <div class="container">
        <h1>Welcome Back to CaZa’s Library</h1>
        <p>Access your personalized dashboard, search the catalog, explore books, and manage your profile—all in one
            place.</p>
    </div>

    <!-- Member ID popup -->
    {% if session.get('member_id_popup') %}
     <script>
            alert("Welcome! Your Member ID is: {{ session['member_id_popup'] }}");
     </script>
    {% endif %}

    <!-- Footer -->
    <footer>
        &copy; 2025 CaZa’s Library. All rights reserved.
    </footer>

{% endblock %}