{% extends 'base.html' %}
{% block title %}{{ book.title }} - CaZa’s Library{% endblock %}

{% block content %}
<div class="booklist-container">
  <h1>{{ book.title }}</h1>
  <p><strong>Author: </strong>{{ book.author }}</p>
  <p><strong>ISBN: </strong>{{ book.isbn }}</p>
  <p><strong>Genre: </strong>{{ book.genre }}</p>
  <p><strong>Description: </strong>{{ book.description }}</p>
  <p><strong>Status: </strong>{{ book.rent_status|capitalize }}</p>

  <form method="POST">
    <input type="hidden" name="action" value="{% if is_rented_by_user %}return{% else %}checkout{% endif %}">
    <input type="hidden" name="isbn" value="{{ book.isbn }}">
    <input type="hidden" name="title" value="{{ book.title }}">
    <input type="hidden" name="author" value="{{ book.author }}">
    <button type="submit" id="checkout-btn"
      {% if is_rented_by_user %}
        class="rented"
      {% else %}
        class="not-rented"
      {% endif %}>
      {% if is_rented_by_user %}
        Return
      {% else %}
        Checkout
      {% endif %}
    </button>
  </form>

    <!-- Favorite Books Button -->
  <form method="POST">
    <input type="hidden" name="action" value="{% if is_favorited %}unfavorite{% else %}favorite{% endif %}">
    <input type="hidden" name="isbn" value="{{ book.isbn }}">
    <button type="submit" id="favorite-btn"
      {% if is_favorited %}
        class="favorited"
      {% else %}
        class="not-favorited"
      {% endif %}>
      {% if is_favorited %}
        ★ Remove from Favorites
      {% else %}
        ☆ Add to Favorites
      {% endif %}
    </button>
  </form>
</div>
{% endblock %}