{% extends 'base.html' %}
{% block title %}Book Listings - CaZa’s Library{% endblock %}

{% block content %}
<div class="booklist-container">
  <h1>Available Books</h1>
  <table class="book-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Rental Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Clean Code</td>
        <td>Robert C. Martin</td>
        <td>978-0132350884</td>
        <td>Available</td>
      </tr>
      <tr>
        <td>Atomic Habits</td>
        <td>James Clear</td>
        <td>978-0735211292</td>
        <td>Checked Out</td>
      </tr>
      <tr>
        <td>Design Patterns</td>
        <td>Erich Gamma</td>
        <td>978-0201633610</td>
        <td>Available</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

