{% extends 'base.html' %}
{% block title %}Manage Book Listings - CaZa's Library (Staff){% endblock %}

{% block content %}
<div class="booklist-container">
  <h1>{{ book.title }}</h1>
  <p><strong>Author: </strong>{{ book.author }}</p>
  <p><strong>ISBN: </strong>{{ book.isbn }}</p>
  <p><strong>Genre: </strong>{{ book.genre }}</p>
  <p><strong>Description: </strong>{{ book.description }}</p>
  <p><strong>Status: </strong>{{ book.rent_status|capitalize }}</p>

  <!-- Edit Button -->
  <form method="POST">
     <input type="hidden" name="action" value="edit_book">
     <label>Update Title: <input type="text" name="title" value="{{ book.title }}"></label><br>
     <label>Update Author: <input type="text" name="author" value="{{ book.author }}"></label><br>
     <label>Update Genre: <input type="text" name="genre" value="{{ book.genre }}"></label><br>
     <label>Update Description> <input type="text" name="description" value="{{ book.description }}"></label><br>
     <button type="submit">Update Book Information</button>
  </form>

  <!-- Edit Due Date -->
   {% if checked_out_books %}
    {% for entry in checked_out_books %}
      <div class="rental-entry">
        <p><strong>Checked out by: </strong>{{entry.username }} (ID: {{ entry.member_id }})</p>
        <p><strong>Current Due Date: </strong>{{ entry.due_date }}</p>
        <p>
          <strong>Status: </strong>
          {% if entry.overdue %}
            <span style="color: red;">Overdue</span>
          {% else %}
            On time
          {% endif %}
        </p>

        <!-- Shows if rented -->
         <form method="POST">
          <input type="hidden" name="action" value="update_due_date">
          <input type="hidden" name="member_id" value="{{ entry.member_id }}">
          <input type="hidden" name="isbn" value="{{ book.isbn }}">
          <label>New Due Date:
            <input type="date" name="new_due_date" value="{{ entry.due_date }}">
          </label>
          <button type="submit">Update Date</button>
         </form>
        <hr>
      </div>
    {% endfor %}
  {% else %}
  <!-- Delete Listing -->
   <form method="POST" id="delete-book-form">
    <input type="hidden" name="action" value="delete_book">
    <button type="submit" id="delete-button">Delete Book</button>
   </form>
  {% endif %}
{% endblock %}