<!--Login Page-->
<!-- Requires: ask for user login info, provide link to member application page, provide "if user forgot id" -->

{% extends 'base.html' %}
{% set hide_nav = True %}

{% block title %}Login{% endblock %}

{% block content %}
<body class="login">

    <a href="{{ url_for('frontend.home') }}" class="library-title-login">CaZa's <span>Library System</span></a>

  <div class="login-container">
    <h2>Login</h2>
    <form action="{{ url_for('frontend.login') }}" method="POST">
      <label for="role">Login as</label>
      <select id="role" name="role" required>
        <option value="" disabled selected>Select Role</option>
        <option value="staff">Staff</option>
        <option value="member">Member</option>
      </select>

      <div class="input-wrapper">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <button type="button" class="clear-btn" onclick="document.getElementById('username').value=''">✕</button>
      </div>

      <div class="input-wrapper">
        <label for="memberid">Staff/Member ID</label>
        <input type="text" id="memberid" name="memberid" required>
        <button type="button" class="clear-btn" onclick="document.getElementById('memberid').value=''">✕</button>
      </div>
      
      <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="login-footer">
      <p>Don't have an account? 
        <a href="{{ url_for('frontend.apply') }}">Register</a>
      </p>
      <p>
        <a href="/forgot-memberID">Forgot Member ID</a>
      </p>
      <p>
        <a href="{{ url_for('frontend.home') }}" class="cta-button guest-button">Continue as Guest</a>
      </p>
    </div>
  </div>

</body>
{% endblock %}