{% extends 'base.html' %}
{% set hide_nav = True %}
{% block title %}Apply for Membership - CaZa's Library{% endblock %}

{% block content %}
<div class="application-container">
  <h2>Apply for CaZa’s Library Membership</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if result.startswith("New member added") %}
  {% elif redirect_to_homepage == True %}
   <div id="redirect-to-homepage" data-href="{{ url_for('frontend.home_members') }}"></div>
  {% endif %}

  <!-- Main Content -->
  <form method="POST" action="{{ url_for('frontend.apply') }}">
    <label for="name">Full Name</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />

    <button type="submit">Generate Member ID</button>
  </form>
</div>
{% endblock %}