{% extends 'base.html' %}
{% block title %}Search - CaZa's Library{% endblock %}

{% block content %}
<div class="container">
  <h1>Search the Catalog</h1>

  <form method="POST" action="{{ url_for('frontend.search')}}">
    <input type="text" placeholder="Search Books" id="search-query">
    <select name="sort-by">
      <option value="">Sort By</option>
      <option value="title" {% if sort_key =='title' %}selected{% endif %}>Title</option>
      <option value="author" {% if sort_key == 'author' %}selected{% endif %}>Author</option>
      <option value="genre" {% if sort_key == 'genre' %}selected{% endif %}>Genre</option>
    </select>
    <button type="submit" id="search-btn">Search</button>
  </form>

  <div class="book-list">
    {% if books %}
     {% for book in books %}
      <div class="book">
        <h3>{{ book.title }}</h3>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Status:</strong> {{book.rent_status|capitalize }}</p>
      <button id="rent-book-{{ loop.index }}">Checkout</button>
    </div>
    {% endfor %}
   {% else %}
     <p>No books found.</p>
   {% endif %}
  </div>
</div>

{% endblock %}