{% extends 'base.html' %}
{% block title %}Search - CaZa's Library{% endblock %}

{% block content %}
<div class="container">
  <h1>Search the Catalog</h1>

  <div class="search-bar">
    <input type="text" placeholder="Enter title, author, or keyword" id="search-query">
    <button id="search-btn">Search</button>
  </div>

  <div class="genres">
    <button>Fiction</button>
    <button>Non-Fiction</button>
    <button>Science</button>
    <button>History</button>
    <button>Biography</button>
  </div>

  <div class="book-list">
    {% if books %}
     {% for book in books %}
      <div class="book">
        <h3>{{ book.title }}</h3>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Status:</strong> {{book.rent_status|capitalize }}</p>
      <button id="rent-book-{{ loop.index }}">Checkout</button>
    </div>
    {% endfor %}
   {% else %}
     <p>No books found.</p>
   {% endif %}
  </div>
</div>

{% endblock %}